@font-face {
	font-family: $font-normal;
	src: url($font-path + $font-normal + '.eot');
	src: url($font-path + $font-normal + '.eot?#iefix') format('embedded-opentype'),
	     url($font-path + $font-normal + '.otf') format('opentype'),
	     url($font-path + $font-normal + '.woff') format('woff'),
	     url($font-path + $font-normal + '.ttf') format('truetype'),
	     url($font-path + $font-normal + '.svg#') format('svg');
}

@font-face {
	font-family: $font-bold;
	src: url($font-path + $font-bold + '.eot');
	src: url($font-path + $font-bold + '.eot?#iefix') format('embedded-opentype'),
	     url($font-path + $font-bold + '.otf') format('opentype'),
	     url($font-path + $font-bold + '.woff') format('woff'),
	     url($font-path + $font-bold + '.ttf') format('truetype'),
	     url($font-path + $font-bold + '.svg#') format('svg');
}