/* Fonts & Icons
-------------------------------------------------- */

$font-path                : '../fonts/text/' !default;
$font-normal              : 'Carnas-Thin' !default;
$font-bold                : 'Carnas-Medium' !default;
$font-path-icon           : '../fonts/icons/' !default;

/* Colors
-------------------------------------------------- */

$brand-color-bg           : #f5f6fa;
$brand-color-one          : #4F4C83;
$brand-color-two          : #3591F4;
$brand-color-three        : #35a953;
$brand-color-four         : #F5437B;
$brand-color-white        : white;
$brand-color-dark         : #555555;

/* Variables
-------------------------------------------------- */
$content-padding          : 1.2rem;
$tab-bar-height           : 60px;