/* Import css
-------------------------------------------------- */

@import "./dev/bower_components/angular-material/angular-material.scss";
@import "./dev/bower_components/animatewithsass/animate.scss";
@import "./variables";
@import "./fonts";
@import "./icons";

/* Import css components
-------------------------------------------------- */

@import "components/index";

/* Import css pages
-------------------------------------------------- */

@import "pages/index";

/* App CSS
-------------------------------------------------- */

html,
body {
  background-color: transparent;
  font-family: $font-bold;
  color: $brand-color-dark;
}

[class*=" icon-"],
[class^=icon-] {
  outline: none;
}