<div layout="column" flex class="notfound-wrapper background color">
  <section layout="column" flex layout-align="center center" class="page-title">
    <i class="icon icon-Do-Not-Tilt"></i>
  </section>
</div>