<md-content layout="column" flex class="add-wrapper options-wrapper background color">
  <section layout="column" flex="20" layout-align="center stretch">
    <h2>What would you
      <span>like to do?</span>
    </h2>
  </section>

  <section layout="column" flex layout-align="center stretch">
    <div layout="row" layout-margin class="options">
      <md-card flex class="item" ui-sref="app.add.types">
        <i class="icon icon-Document"></i>
        <span>New Document</span>
      </md-card>
      <md-card flex class="item" ui-sref="app.scan.qr">
        <i class="icon icon-QR-Code"></i>
        <span>Scan QRCode</span>
      </md-card>
      <!-- <md-card flex class="item" ui-sref="app.scan.qr">
        <i class="icon icon-Advertising"></i>
        <span>New Request</span>
      </md-card> -->
    </div>
    <!-- <div layout="row" layout-margin class="options">
      <md-card flex class="item" ui-sref="app.scan.qr">
        <i class="icon icon-QR-Code"></i>
        <span>Scan QRCode</span>
      </md-card>
      <md-card flex class="item" ng-click="soon()">
        <i class="icon icon-Help"></i>
        <span>Help</span>
      </md-card> 
    </div>-->
  </section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.dashboard.home')">Cancel</md-button>
  </section>
</md-content>