<md-content layout="column" flex class="add-wrapper background color">
  <section layout="column" flex="15" layout-align="center stretch" class="no-margin">
    <h2>Choose<span>document</span></h2>
  </section>

  <section layout="column" flex>
    <md-card ng-repeat="item in types track by $index" ui-sref="app.add.document({ id: item.id })">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{item.name}}</span>
          <span class="md-subhead">{{item.description}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.dashboard.home')">Cancel</md-button>
  </section>
</md-content>