<md-content layout="column" flex class="add-wrapper add-authorize-wrapper background color">
  <div layout="row" class="header white">
    <h4 flex>Authorize Details</h4>
  </div>

  <section layout="column" flex layout-align="center center" class="no-data" ng-if="!code">
    <i class="icon icon-Empty-Box"></i>
    <span>No Data</span>
  </section>

  <!-- Agent -->
  <section layout="column" flex class="no-margin" ng-if="code && code.model === 'Agents'">
    <md-card class="authorize-title read">
      <md-card-title class="white">
        <md-card-title-text>
          <span class="md-headline">{{details.name}}</span>
          <span class="md-subhead">{{details ? 'Available' : 'Not available'}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="authorize-information">
      <div class="md-card-image">
        <ng-map class="map" center="{{details.location.lat}}, {{details.location.lng}}" zoom="13" default-style="false" disable-default-u-i="true">
          <marker position="{{details.location.lat}}, {{details.location.lng}}" title=""></marker>
        </ng-map>
      </div>
      <md-card-content layout="column">
        <div layout="column" class="item">
          <span class="label">Permissions</span>
          <span class="value">
            <i class="icon icon-New-Document"></i> Read</span>
          <span class="value">
            <i class="icon icon-New-Document"></i> Verify</span>
        </div>
      </md-card-content>
    </md-card>
  </section>

  <!-- Company -->
  <section layout="column" flex class="no-margin" ng-if="code && code.model === 'Products'">
    <md-card class="authorize-title read">
      <md-card-title class="white">
        <md-card-title-text>
          <span class="md-headline">{{details.name}}</span>
          <span class="md-subhead">{{details.company.name}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="authorize-information">
      <div class="md-card-image" style="background-image: url({{details.cover}})"></div>
      <md-card-content layout="column">
        <div layout="column" class="item" ng-if="details.permissions">
          <span class="label">Approval Time</span>
          <span class="value">
            <i class="icon icon-Time"></i> 4 hours</span>
        </div>

        <div layout="column" class="item" ng-if="details.payment">
          <span class="label">Amount</span>
          <span class="value">{{details.payment.amount | number:1}} {{details.payment.currency}}</span>
        </div>

        <div layout="column" class="item" ng-if="details.permissions">
          <span class="label">Permissions</span>
          <div ng-repeat="permission in details.permissions track by $index">
            <span class="value green">
              <i class="icon icon-Checked"></i> {{permission}}</span>
          </div>
        </div>

        <div layout="column" class="points">
          <span class="value">350</span>
          <span class="label">points</span>
        </div>
      </md-card-content>
    </md-card>
  </section>

  <section layout="column" class="buttons no-margin" ng-if="code">
    <!-- <md-button md-no-ink class="md-outline white" ui-sref="app.add.payment({ id: code.id })" ng-if="details.payment">Make Payment</md-button> -->
    <md-button md-no-ink class="md-outline white" ng-click="authorize(code)">Authorize</md-button>
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.dashboard.home')">Cancel</md-button>
  </section>
</md-content>