<md-content layout="column" flex class="add-wrapper add-payment-wrapper background color">
  <div layout="row" class="header white">
    <h4 flex>Payment Details</h4>
  </div>

  <section layout="column" flex class="no-margin" ng-if="request">
    <md-card class="payment-title read">
      <md-card-title class="white">
        <md-card-title-text>
          <span class="md-headline">{{request.product.payment.amount | number:1}} {{request.product.payment.currency}}</span>
          <span class="md-subhead">To {{request.product.company.name}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="payment-form">
      <md-card-content layout="column">
        <form name="cardForm">
          <md-input-container class="md-icon-float md-icon-right">
            <input type="number" name="cardnumber" ng-model="card.number" placeholder="Card Number" required>
            <md-icon class="icon icon-Camera" ng-click="scanCard()"></md-icon>
          </md-input-container>

          <md-input-container>
            <input type="text" name="cardholder" ng-model="card.holder" placeholder="Card Holder" required>
          </md-input-container>

          <div layout="row">
            <md-input-container>
              <input type="number" name="cardexpiry" placeholder="Expiry Date" ng-model="card.expiry" required>
            </md-input-container>

            <md-input-container>
              <input type="number" name="cardcvv" ng-model="card.cvv" placeholder="CVV" required>
            </md-input-container>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </section>

  <section layout="column" class="buttons no-margin" ng-if="request">
    <md-button md-no-ink class="md-outline white" ng-click="pay()" ng-disabled="!card.number || !card.holder || !card.expiry || !card.cvv">Pay</md-button>
    <md-button md-no-ink class="md-link white" ng-click="back()">Cancel</md-button>
  </section>
</md-content>