<md-content layout="column" flex class="add-wrapper transparent">
  <div class="mask rectangle">
    <div class="line"></div>
  </div>

  <div layout="column" class="guide">
    <i class="icon icon-Document"></i>
    <span>{{steps[documentData.photos.length].description}}</span>
  </div>

  <section layout="column" flex="15" layout-align="center stretch" class="no-margin">
    <h2>Scan your<span>document</span></h2>
  </section>

  <section layout="row" layout-align="center stretch" class="steps">
    <div class="step" ng-repeat="step in steps track by $index" ng-class="{'active' : $index === documentData.photos.length}">
      {{$index + 1}}
    </div>
  </section>

  <section layout="column" flex></section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-outline white" ng-click="takePhoto(steps)">Take Photo</md-button>
    <md-button md-no-ink class="md-link white" ng-click="back()">Cancel</md-button>
  </section>
</md-content>