<md-content flex class="dashboard-wrapper dashboard-document-wrapper background color">
  <div layout="row" class="header white">
    <i class="icon icon-Reply-Arrow margin" ng-click="back()"></i>
    <h4 flex>Document Details</h4>
  </div>

  <section layout="column" class="no-margin" ng-if="document">
    <md-card class="document-title read">
      <md-card-title class="white">
        <md-card-title-text>
          <span class="md-headline">{{document.type.name}}</span>
          <span class="md-subhead">Document Score: {{document.score}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="document-information">
      <div class="md-card-image" style="background-image: url({{ 'data:image/png;base64,' + document.photos[0] }})"></div>
      
      <md-card-content layout="column">
        <div layout="column" class="item">
          <span class="label">Status</span>
          <span class="value {{document.verified ? 'green' : 'red'}}">
            <i class="icon icon-{{document.verified ? 'Ok' : 'Cancel'}}"></i>
            {{document.verified ? 'Verified' : 'Not Verified'}}
          </span>
        </div>

        <div layout="column" class="item" ng-if="document.fields">
          <span class="label">Fields</span>
          <div ng-repeat="field in document.fields track by $index">
            <span class="value">
              <i class="icon icon-New-Document"></i> {{field.value}}</span>
          </div>
        </div>
      </md-card-content>

      <md-card-actions layout="row" layout-align="space-around center">
        <md-button md-no-ink ng-click="showVerify()" ng-disabled="document.verified">
          <i class="icon icon-Checkmark"></i>
          Verify Document
        </md-button>
        <md-button md-no-ink ng-click="remove()">
          <i class="icon icon-Trash"></i>
          Remove
        </md-button>
      </md-card-actions>
    </md-card>
  </section>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="verifyDialog">
      <md-dialog>
        <i class="icon icon-Exclamation-Mark"></i>
        <h2>Verification Need</h2>
        <p>Find nearest notary to verify your document</p>
        <md-button md-no-ink class="md-primary" ui-sref="app.dashboard.locations">Find nearest notary</md-button>
        <md-button md-no-ink class="md-link" ng-click="hideVerify()">Later</md-button>
      </md-dialog>
    </div>
  </div>
</md-content>