<section layout="column" flex ui-view="content"></section>

<section layout="row" class="tab-bar" ng-if="$state.current.data.tabBar">

  <button layout="column" flex layout-align="center center" aria-label="home" ui-sref="app.dashboard.home" ui-sref-active="active">
    <div layout="column">
      <i class="icon icon-Home"></i>
    </div>
  </button>

  <button layout="column" flex layout-align="center center" aria-label="documents" ui-sref="app.dashboard.documents" ui-sref-active="active">
    <div layout="column">
      <i class="icon icon-Book-Stack"></i>
    </div>
  </button>

  <button layout="column" flex layout-align="center center" aria-label="main" class="main" ui-sref="app.add.options">
    <div layout="column">
      <i class="icon icon-Plus-Math"></i>
    </div>
  </button>

  <button layout="column" flex layout-align="center center" aria-label="requests" ui-sref="app.dashboard.requests" ui-sref-active="active">
    <div layout="column">
      <i class="icon icon-Advertising"></i>
    </div>
  </button>

  <button layout="column" flex layout-align="center center" aria-label="products" ui-sref="app.dashboard.products" ui-sref-active="active">
    <div layout="column">
      <i class="icon icon-Shopping-Bag"></i>
    </div>
  </button>

</section>