<md-content flex class="dashboard-wrapper">
  <div layout="row" class="header">
    <h4 flex>Requests</h4>
  </div>

  <section layout="column" flex layout-align="center center" class="no-data" ng-if="!requests.length" ui-sref="app.add.options">
    <i class="icon icon-Advertising"></i>
    <span>Add New Request</span>
  </section>

  <section class="no-margin" ng-if="requests.length">
    <md-card ng-repeat="item in requests track by $index" ui-sref="app.dashboard.requests.request({ id: item.id })">
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-md color">
            <i class="icon icon-Advertising"></i>
          </div>
        </md-card-title-media>

        <md-card-title-text>
          <span class="md-headline">{{item.product.name}}</span>
          <span class="md-subhead">{{item.product.company.name}}</span>
        </md-card-title-text>

        <md-card-title-media class="no-margin" ng-if="!item.payment && item.product.payment">
          <div class="md-media-md transparent {{item.product.payment ? 'red' : ''}}">
            <i class="icon icon-{{item.product.payment ? 'Exclamation-Mark' : ''}}"></i>
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </section>
</md-content>