<md-content flex class="dashboard-wrapper dashboard-product-wrapper background color">
  <div layout="row" class="header white">
    <i class="icon icon-Reply-Arrow margin" ng-click="back()"></i>
    <h4 flex>Product Details</h4>
  </div>

  <section layout="column" class="no-margin" ng-if="product">
    <md-card class="product-title read">
      <md-card-title class="white">
        <md-card-title-text>
          <span class="md-headline">{{product.name}}</span>
          <span class="md-subhead">{{product.company.name}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="product-information">
      <div class="md-card-image" style="background-image: url({{product.cover}})"></div>

      <md-card-content layout="column">
        <div layout="column" class="item" ng-if="product.permissions">
          <span class="label">Description</span>
          <span class="value">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
        </div>
      </md-card-content>
    </md-card>
  </section>

  <section layout="column" class="buttons no-margin" ng-if="product">
    <!-- ui-sref="app.add.authorize({id:product.id, type:'Products'})" -->
    <md-button md-no-ink class="md-outline white" ng-click="soon()">Apply Now</md-button>
    <md-button md-no-ink class="md-link white" ng-click="openUrl(product.url)">Open In Browser</md-button>
  </section>
</md-content>