<md-content flex class="dashboard-wrapper">
  <div layout="row" class="header">
    <h4 flex>Documents</h4>
  </div>

  <section layout="column" flex layout-align="center center" class="no-data" ng-if="!documents.length" ui-sref="app.add.options">
    <i class="icon icon-Document"></i>
    <span>Add New Document</span>
  </section>

  <section class="no-margin" ng-if="documents.length">
    <md-card ng-repeat="item in documents track by $index" ui-sref="app.dashboard.documents.document({ id: item.id })">
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-md">
            <i class="icon icon-Document"></i>
          </div>
        </md-card-title-media>

        <md-card-title-text>
          <span class="md-headline">{{item.type.name}}</span>
          <span class="md-subhead">Document Score: {{item.score}}</span>
        </md-card-title-text>

        <md-card-title-media class="no-margin">
          <div class="md-media-md transparent {{item.verified ? 'green' : 'red'}}">
            <i class="icon icon-{{item.verified ? 'Checkmark' : 'Exclamation-Mark'}}"></i>
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </section>
</md-content>