<md-content flex class="dashboard-wrapper">
  <div layout="row" class="header">
    <i class="icon icon-Reply-Arrow margin" ng-click="back()"></i>
    <h4 flex>Settings</h4>
  </div>

  <section layout="column" class="no-margin">
    <md-card ng-if="customer">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{customer.fname}} {{customer.lname}}</span>
          <span class="md-subhead">+{{customer.mobile}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-primary" ng-click="logout()">Logout</md-button>
  </section>
</md-content>