<md-content flex class="dashboard-wrapper">
  <section class="search">
    <md-input-container layout="row" md-no-float>
      <i class="icon icon-Search"></i>
      <input ng-model="search" placeholder="Search ..">
    </md-input-container>
  </section>

  <section class="welcome" ng-if="customer">
    <md-card class="background color">
      <md-card-title>
        <md-card-title-media layout="column" layout-align="center center" ui-sref="app.dashboard.settings">
          <div class="md-media-md" style="background-image: url({{'data:image/png;base64,' + customer.photo}})"></div>
          <div class="md-media-settings">
            <i class="icon icon-Settings"></i>
          </div>
        </md-card-title-media>
        <md-card-title-text layout="column" layout-align="center start">
          <span class="md-subhead">{{customer.fname}} {{customer.lname}}</span>
          <span class="md-headline">Score {{score | number:1}}</span>
          <span class="md-subhead">Points {{customer.points ? customer.points : 0 | number:0}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </section>

  <section class="numbers">
    <div layout="row" class="title">
      <h4 flex>Total Numbers</h4>
    </div>
    <div layout="row" layout-align="space-between center" layout-margin class="no-margin">
      <md-card flex ui-sref="app.dashboard.documents">
        <md-card-title>
          <md-card-title-text>
            <i class="icon icon-Book-Stack"></i>
            <span class="md-beforehead">Documents</span>
            <span class="md-headline">{{documents.length ? documents.length : 0}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>

      <md-card flex ui-sref="app.dashboard.requests">
        <md-card-title>
          <md-card-title-text>
            <i class="icon icon-Advertising"></i>
            <span class="md-beforehead">Requests</span>
            <span class="md-headline">{{requests.length ? requests.length : 0}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </section>

  <section layout="column" class="no-data small-icon" ng-if="!documents.length" ui-sref="app.add.options">
    <i class="icon icon-Document"></i>
    <span>Add New Document</span>
  </section>

  <section ng-if="documents.length">
    <div layout="row" class="title">
      <h4 flex>Recent Documents</h4>
    </div>
    <md-card ng-repeat="item in documents track by $index" ui-sref="app.dashboard.documents.document({ id: item.id })">
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-md">
            <i class="icon icon-Document"></i>
          </div>
        </md-card-title-media>

        <md-card-title-text>
          <span class="md-headline">{{item.type.name}}</span>
          <span class="md-subhead">Document Score: {{item.score}}</span>
        </md-card-title-text>

        <md-card-title-media class="no-margin">
          <div class="md-media-md transparent {{item.verified ? 'green' : 'red'}}">
            <i class="icon icon-{{item.verified ? 'Checkmark' : 'Exclamation-Mark'}}"></i>
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </section>
</md-content>