<md-content flex class="dashboard-wrapper dashboard-request-wrapper background color">
  <div layout="row" class="header white">
    <i class="icon icon-Reply-Arrow margin" ng-click="back()"></i>
    <h4 flex>Request Details</h4>
  </div>

  <section layout="column" class="no-margin" ng-if="request">
    <md-card class="request-title read">
      <md-card-title class="white">
        <md-card-title-text>
          <span class="md-headline">{{request.product.name}}</span>
          <span class="md-subhead">{{request.product.company.name}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

    <md-card class="request-information">
      <div class="md-card-image" style="background-image: url({{request.product.cover}})"></div>

      <md-card-content layout="column">
        <div layout="column" class="item">
          <span class="label">Average Approval Time</span>
          <span class="value"><i class="icon icon-Time"></i> 8 hours</span>
        </div>

        <div layout="column" class="item" ng-if="request.product.payment">
          <span class="label">Amount</span>
          <span class="value"><i class="icon icon-Money"></i> {{request.product.payment.amount | number:1}} {{request.product.payment.currency}}</span>
        </div>

        <div layout="column" class="item" ng-if="request.product.permissions">
          <span class="label">Documents Access</span>
          <div ng-repeat="permission in request.product.permissions track by $index">
            <span class="value green"><i class="icon icon-Checked"></i> {{permission}}</span>
          </div>
        </div>
      </md-card-content>

      <md-card-actions layout="row" layout-align="space-around center">
        <md-button md-no-ink>
          <i class="icon icon-Help"></i>
          Report
        </md-button>
        <md-button md-no-ink ng-click="remove()">
          <i class="icon icon-Trash"></i>
          Remove
        </md-button>
      </md-card-actions>
    </md-card>
  </section>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="paymentDialog">
      <md-dialog>
        <i class="icon icon-Exclamation-Mark"></i>
        <h2>Payment Need</h2>
        <p>You need to pay <br>{{request.product.payment.amount | number:1}} {{request.product.payment.currency}}</p>
        <md-button md-no-ink class="md-primary" ui-sref="app.add.payment({ id: request.id })">Make Payment</md-button>
        <md-button md-no-ink class="md-link" ng-click="hidePayment()">Later</md-button>
      </md-dialog>
    </div>
  </div>
</md-content>