<md-content flex class="dashboard-wrapper dashboard-products-wrapper">
  <div layout="row" class="header">
    <h4 flex>Products Store</h4>
  </div>

  <section layout="column" flex layout-align="center center" class="no-data" ng-if="!products.length" ui-sref="app.add.options">
    <i class="icon icon-Shopping-Bag"></i>
    <span>No Products</span>
  </section>

  <section layout="column" class="no-margin" ng-if="products.length">
    <md-card ng-repeat="item in products track by $index" ui-sref="app.dashboard.products.product({ id: item.id })">
      <div class="md-card-image" style="background-image: url({{item.cover}})"></div>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{item.name}}</span>
          <span class="md-subhead">{{item.company.name}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </section>
</md-content>