<md-content layout="column" flex class="dashboard-wrapper dashboard-locations-wrapper background color">
  <div layout="row" class="header white">
    <i class="icon icon-Reply-Arrow margin" ng-click="back()"></i>
    <h4 flex>Locations</h4>
  </div>

  <!-- {{agents[0].location.lat}}, {{agents[0].location.lng}} {{agents[0].name}}-->
  <section layout="column" flex class="no-margin" ng-if="agents">
    <md-card>
      <ng-map class="map" center="newyork" zoom="13" default-style="false" disable-default-u-i="true">
        <marker position="newyork" title="Notary"></marker>
      </ng-map>
    </md-card>
  </section>


  <section layout="column" class="buttons no-margin" ng-if="agents">
    <md-button md-no-ink class="md-outline white" ui-sref="app.scan.qr">Scan QrCode</md-button>
    <md-button md-no-ink class="md-link white" ng-click="soon()">Request Notary</md-button>
  </section>
</md-content>