<md-content layout="column" flex layout-align="cente center" class="scan-wrapper transparent">
  <div class="mask rectangle">
    <div class="line"></div>
  </div>

  <section layout="column" flex="20" layout-align="center stretch">
    <h2>Scan <span>QRCode</span></h2>
  </section>

  <section layout="column" flex></section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.dashboard.home')">Cancel</md-button>
  </section>
</md-content>