<md-content layout="column" flex class="signin-wrapper background color">
  <div class="shapes"></div>

  <section layout="column" flex layout-align="center start" class="branding">
    <div class="logo white animate"></div>
    <h1>Welcome back</h1>
    <p>Let your personal data<br>belong to you.</p>
  </section>

  <section class="form no-margin">
    <form name="loginForm" layout="column">

      <md-input-container class="md-block">
        <label>Mobile Number</label>
        <input name="username" type="number" ng-model="username" required minlength="2" />
        <div ng-messages="loginForm.username.$error" role="alert">
          <div ng-message-exp="['required', 'minlength']">
            Username is required.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input name="password" type="password" ng-model="password" required minlength="4" />
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength']">
            Password is required.
          </div>
        </div>
      </md-input-container>

      <md-button md-no-ink class="md-outline white" ng-disabled="!username || !password" ng-click="signin(username, password)">Sign In</md-button>
      <md-button md-no-ink class="md-link white" ui-sref="app.signup.type">Dont have an account?
        <strong>Sign up now</strong>
      </md-button>
    </form>
  </section>
</md-content>