<md-content layout="column" flex class="signup-wrapper options-wrapper background dark">
  <section layout="column" flex="20" layout-align="center stretch">
    <h2>Please choose your<span>account type</span></h2>
  </section>

  <section layout="column" flex layout-align="center stretch">
    <div layout="row" layout-margin class="options dark">
      <md-card flex class="item" ui-sref="app.signup.mobile">
        <i class="icon icon-Add-User-Male"></i>
        <span>User</span>
      </md-card>
      <md-card flex class="item" ng-click="soon()">
        <i class="icon icon-Business"></i>
        <span>Corporate</span>
      </md-card>
    </div>
  </section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.signin')">Cancel</md-button>
  </section>
</md-content>