<md-content layout="column" flex class="signup-wrapper background dark">
  <section layout="column" flex="20" layout-align="center stretch">
    <h2>Type Your<span>Full Name</span></h2>
  </section>

  <section layout="column" flex layout-align="center stretch" class="form">
    <md-input-container md-no-float>
      <input type="text" name="fname" ng-model="userData.fname" placeholder="First Name">
    </md-input-container>
    <md-input-container md-no-float>
      <input type="text" name="lname" ng-model="userData.lname" placeholder="Last Name">
    </md-input-container>
  </section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-outline white" ng-disabled="!userData.fname || !userData.lname" ui-sref="app.signup.face">Next</md-button>
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.signin')">cancel</md-button>
  </section>
</md-content>