<md-content layout="column" flex class="signup-wrapper background dark">
  <section layout="column" flex="20" layout-align="center stretch">
    <h2>Type<span>OTP</span></h2>
  </section>

  <section layout="column" flex layout-align="center stretch" class="form">
    <md-input-container md-no-float>
      <input type="number" name="mobile" ng-model="otp" placeholder="0  0  0  0">
    </md-input-container>
  </section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-outline white" ng-disabled="!otp" ng-click="verify(otp)">Verify</md-button>
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.signin')">cancel</md-button>
  </section>
</md-content>