<md-content layout="column" flex class="signup-wrapper transparent">
  <div class="mask circle dark">
    <div class="radar-pulse"></div>
    <div class="radar-pulse"></div>
  </div>

  <section layout="column" flex="20" layout-align="center stretch">
    <h2>Take Selfie<span>For Verification</span></h2>
  </section>

  <section layout="column" flex></section>

  <section layout="column" class="buttons no-margin">
    <md-button md-no-ink class="md-outline white" ng-click="takePhoto()">Take Photo</md-button>
    <md-button md-no-ink class="md-link white" ng-click="cancel('app.signin')">cancel</md-button>
  </section>
</md-content>