.add-payment-wrapper {
  text-align: left;
  .payment-title {
    @include fadeInDown ( $duration: 0.5s, $count: 1, $delay: 0s, $function: easeOut, $fill: both);
    .md-headline {
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
  .payment-form {
    min-height: 200px;
    overflow: hidden;
    @include fadeInUp ( $duration: 0.5s, $count: 1, $delay: 0s, $function: easeOut, $fill: both);
    md-card-content {
      font-family: $font-normal;
      font-weight: bold;
      md-input-container {
        margin: 0.5rem 0;
        padding: 0;
        .md-input {
          padding: 0;
        }
        [class*=" icon-"], [class^=icon-] {
          top: -0.5rem;
          height: auto;
          width: auto;
          font-size: 2rem;
          color: $brand-color-one;
        }
      }
    }
  }
}