.add-authorize-wrapper {
  text-align: left;
  .authorize-title {
    @include fadeInDown ( $duration: 0.5s, $count: 1, $delay: 0s, $function: easeOut, $fill: both);
    .md-headline {
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
  .authorize-information {
    overflow: hidden;
    @include fadeInUp ( $duration: 0.5s, $count: 1, $delay: 0s, $function: easeOut, $fill: both);
    .md-card-image {
      margin: 1rem;
      height: 150px;
      border-radius: 0.3rem;
      .map {
        height: 150px;
        overflow: hidden;
        border-radius: 0.3rem;
      }
    }
    md-card-content {
      .item {
        margin: 0 0 1.5rem 0;
        &:last-child {
          margin: 0;
        }
        .label {
          margin: 0;
          font-size: 0.8rem;
          text-transform: uppercase;
          color: rgba($brand-color-dark, 0.4);
        }
        .value {
          font-size: 0.8rem;
          text-transform: uppercase;
          &.green {
            color: green;
          }
          &.red {
            color: red;
          }
        }
      }
      .points {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        position: absolute;
        bottom: 20%;
        right: 0;
        background-color: green;
        border-radius: 0.3rem 0 0 0.3rem;
        color: $brand-color-white;
        .label {
          margin: 0;
          font-size: 0.6rem;
          text-transform: uppercase;
        }
        .value {
          font-size: 1.2rem;
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }
}