.add-wrapper {
  padding: $content-padding;
  text-align: center;
  overflow: hidden !important;
  h2 {
    margin: 0;
    font-family: $font-normal;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: rgba($brand-color-white, 0.5);
    span {
      display: block;
      font-size: 2rem;
      font-weight: normal;
      color: rgba($brand-color-white, 1);
    }
  }
  .form {
    h2 {
      margin: 0 0 1rem 0;
      font-size: 2rem;
      font-weight: normal;
      color: $brand-color-white;
    }
    md-input-container {
      margin: 0;
      padding: 0;
      &.md-input-focused {
        .md-input {
          border-color: $brand-color-white;
        }
      }
      .md-input {
        height: 50px;
        padding: 0;
        color: $brand-color-white;
        border-width: 0 0 1px 0;
        border-color: rgba($brand-color-white, 0.5);
        &::placeholder {
          color: rgba($brand-color-white, 0.5);
        }
      }
      .md-char-counter {
        color: rgba($brand-color-white, 0.2);
      }
    }
  }
  .steps {
    color: $brand-color-white;
    .step {
      position: relative;
      margin: 0 0.35rem;
      padding: 0.5rem;
      width: 14px;
      height: 14px;
      background-color: rgba($brand-color-one, 0.3);
      color: rgba($brand-color-white, 0.4);
      line-height: 14px;
      border-radius: 100%;
      &::before {
        content: '';
        position: absolute;
        top: 0.9rem;
        left: 1.8rem;
        height: 1px;
        width: 0.8rem;
        background-color: rgba($brand-color-one, 0.3);
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      &.active {
        background-color: rgba($brand-color-one, 1);
        color: $brand-color-white;
        &::before {
          //background-color: rgba($brand-color-one, 1);
        }
      }
    }
  }
  .guide {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: rgba($brand-color-white, 0.5);
    transform: translate(-50%, -50%);
    [class*=" icon-"],
    [class^=icon-] {
      font-size: 8rem;
    }
    span {
      padding: 1rem 0 0 0;
      text-transform: uppercase;
      color: rgba($brand-color-white, 0.5);
    }
  }
  .no-data {
    opacity: 0.2;
  }
}