.camera-wrapper {
  background: transparent !important;
  overflow: hidden !important;
  .camera-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 200px;
    background-image: url('../images/qr-overlay.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
  }
  .close {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    background: transparent;
    font-size: 4rem;
    color: $brand-color-white;
    border: none;
    border-radius: 100%;
    transform: translate(-50%, 0);
  }
}