.dashboard-wrapper {
  padding: $content-padding;
  section {
    margin: 0 0 2rem 0;
    .swiper-container {
      padding: 0;
      margin: 0;
      overflow: initial;
      .swiper-pagination {
        bottom: -2rem;
        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
          background-color: lighten($brand-color-dark, 30);
          &.swiper-pagination-bullet-active {
            margin: 0 0.3rem -0.05rem 0.3rem;
            width: 8px;
            height: 8px;
            background-color: $brand-color-one;
          }
        }
      }
    }
  }
}