.dashboard-request-wrapper {
  .request-title {
    @include fadeInDown ( $duration: 0.5s, $count: 1, $delay: 0s, $function: easeOut, $fill: both);
    .md-headline {
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
  .request-information {
    @include fadeInUp ( $duration: 0.5s, $count: 1, $delay: 0s, $function: easeOut, $fill: both);
    .md-card-image {
      margin: 1rem;
      border-radius: 0.3rem;
    }
    md-card-content {
      .item {
        margin: 0 0 1.5rem 0;
        &:last-child {
          margin: 0;
        }
        .label {
          margin: 0;
          font-size: 0.8rem;
          text-transform: uppercase;
          color: rgba($brand-color-dark, 0.4);
        }
        .value {
          font-size: 0.8rem;
          text-transform: uppercase;
          &.green {
            color: green;
          }
          &.red {
            color: red;
          }
        }
      }
    }
  }
}