.dashboard-locations-wrapper {
  md-card {
    overflow: hidden;
    .map {
      height: 400px;
    }
  }

  .locations-actions {
    color: $brand-color-white;
    [class*=" icon-"],
    [class^=icon-] {
      font-size: 6rem;
    }
    span {
      font-family: $font-normal;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}