.dashboard-products-wrapper {
  md-card {
    background-color: $brand-color-dark;
    .md-card-image {
      height: 140px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.4;
      border-radius: 0.4rem;
    }
    md-card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(0deg, darken($brand-color-dark, 15) 0%, rgba($brand-color-one, 0) 100%);
      border-radius: 0 0 0.4rem 0.4rem;
      md-card-title-text {
        .md-headline {
          font-size: 1rem;
          color: $brand-color-white !important;
        }
        .md-subhead {
          font-size: .8rem;
          color: rgba($brand-color-white, 0.5) !important;
        }
      }
    }
  }
}