.scan-wrapper {
  padding: $content-padding;
  text-align: center;
  overflow: hidden !important;
  h2 {
    margin: 0;
    font-family: $font-normal;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: rgba($brand-color-white, 0.5);
    span {
      display: block;
      font-size: 2rem;
      font-weight: normal;
      color: rgba($brand-color-white, 1);
    }
  }
}