.signup-wrapper {
  padding: $content-padding;
  text-align: center;
  overflow: hidden !important;
  .mask {
    .radar-pulse {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 280px;
      height: 280px;
      transform: translate(-50%, -50%);
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        height: 280px;
        opacity: 0;
        border: 1px rgba($brand-color-white, 0.8) solid;
        border-radius: 50%;
        transform: scale(0);
        animation-duration: 1.5s;
        animation-name: pulse;
        animation-iteration-count: infinite;
      }
      &:nth-child(2)::after {
        animation-delay: 0.5s;
      }
      &:nth-child(1)::after {
        animation-delay: 1s;
      }
    }
  }
  h2 {
    margin: 0;
    font-family: $font-normal;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: rgba($brand-color-white, 0.5);
    span {
      display: block;
      font-size: 2rem;
      font-weight: normal;
      color: rgba($brand-color-white, 1);
    }
  }
  .form {
    md-input-container {
      margin: 1rem 0;
      color: $brand-color-white;
      &.md-input-focused {
        .md-input {
          border-width: 0 0 1px 0;
          border-color: rgba($brand-color-white, 0.8);
        }
      }
      label {
        font-family: $font-normal;
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: rgba($brand-color-white, 0.5);
      }
      .md-input {
        padding: 0;
        height: 40px;
        color: $brand-color-white;
        border-color: rgba($brand-color-white, 0.2);
        transition: border-color 0.3s ease-in-out;
      }
    }
    .md-link {
      color: rgba($brand-color-white, 0.5);
      strong {
        color: rgba($brand-color-three, 1);
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}