.signin-wrapper {
  padding: $content-padding;
  .branding {
    margin: 0;
    min-height: 300px;
    //text-align: center;
    .logo {
      width: 100px;
      height: 100px;
      margin: 0 0 1rem 0;
      @include fadeInDown ( $duration: 0.5s, $delay: 0.4s, $count: 1, $function: easeOut, $fill: both);
    }
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 1.1;
      @include fadeInUp ( $duration: 0.5s, $delay: 0.4s, $count: 1, $function: easeOut, $fill: both);
    }
    p {
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.1;
      color: rgba($brand-color-white, 0.5);
      @include fadeInUp ( $duration: 0.5s, $delay: 0.8s, $count: 1, $function: easeOut, $fill: both);
    }
  }
  .form {
    @include fadeIn ( $duration: 0.5s, $delay: 1.2s, $count: 1, $function: easeOut, $fill: both);
    md-input-container {
      margin: 0 0 1rem 0;
      color: $brand-color-white;
      &.md-input-focused {
        .md-input {
          border-width: 0 0 1px 0;
          border-color: rgba($brand-color-white, 0.8);
        }
      }
      label {
        font-family: $font-normal;
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: rgba($brand-color-white, 0.5);
      }
      .md-input {
        padding: 0;
        height: 40px;
        color: $brand-color-white;
        border-color: rgba($brand-color-white, 0.2);
        transition: border-color 0.3s ease-in-out;
      }
    }
    .md-link {
      color: rgba($brand-color-white, 0.5);
      strong {
        color: rgba($brand-color-white, 1);
      }
    }
  }
}