.background {
  background-color: $brand-color-bg;
  &.color {
    background-image: linear-gradient(20deg, $brand-color-three -20%, $brand-color-two 20%, $brand-color-one 100%);
  }
  &.dark {
    background-image: linear-gradient(20deg, lighten($brand-color-dark, 20) -20%, lighten($brand-color-dark, 10) 20%, $brand-color-dark 100%);
  }
  .shapes {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: url('../images/bg-overlay.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}