.branding {
  margin: 0 0 2rem 0;
  color: $brand-color-white;
  h1 {
    margin: 0;
    //font-family: $font-normal;
    font-size: 2rem;
    font-weight: normal;
    //text-transform: uppercase;
    //letter-spacing: 0.2rem;
    //line-height: 1;
  }
  p {
    margin: 0;
    font-family: $font-normal;
    font-size: 0.7rem;
    font-weight: bold;
    //text-transform: uppercase;
  }
}