.md-button {
  padding: 0.4rem 0rem;
  margin: 0.5rem 0;
  font-family: $font-normal;
  font-weight: bold;
  border-radius: 0.3rem;
  &[disabled] {
    opacity: 0.5;
  }
  &.md-primary {
    background-color: $brand-color-one;
    //background-image: linear-gradient(20deg, $brand-color-two -20%, $brand-color-one 100%);
    box-shadow: 0 4px 8px 0px rgba($brand-color-one, 0.5);
    color: $brand-color-white;
    &.white {
      background-color: $brand-color-white;
      color: $brand-color-one;
    }
  }
  &.md-outline {
    color: $brand-color-one;
    box-shadow: inset 0 0 0 1px $brand-color-one;
    &:not([disabled]):hover {
      background-color: transparent;
    }
    &[disabled] {
      box-shadow: none;
      background: rgba($brand-color-one, 0.2);
    }
    &.white {
      color: $brand-color-white;
      box-shadow: inset 0 0 0 1px $brand-color-white;
      &[disabled] {
        box-shadow: none;
        background: rgba($brand-color-white, 0.1);
      }
    }
  }
  &.md-link {
    color: $brand-color-one;
    line-height: 1; //text-transform: none;
    letter-spacing: 0.05rem;
    min-height: auto;
    &:not([disabled]):hover {
      background-color: transparent;
    }
    &.white {
      color: $brand-color-white;
    }
  }
}