md-card {
  position: relative;
  margin: 0 0 1.2rem 0;
  background-color: $brand-color-white;
  border-radius: 0.3rem;
  box-shadow: 0 6px 15px 0px rgba(0, 0, 0, 0.05);
  &.no-margin {
    margin: 0;
  }
  &.color {
    background-image: linear-gradient(60deg, $brand-color-three 0%, $brand-color-two 30%, $brand-color-one 70%);
  }
  &.read {
    padding: 0;
    margin: 0;
    background: transparent;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    md-card-title {
      padding: 0;
      margin: 0 0 2rem 0;
    }
  }
  md-card-title {
    padding: 1rem;
    &.white {
      md-card-title-text {
        color: $brand-color-white;
        .md-headline {
          color: lighten($brand-color-white, 5) !important;
        }
        .md-subhead {
          color: rgba($brand-color-white, 0.5) !important;
        }
      }
    }
    md-card-title-media {
      position: relative;
      margin: 0 0.8rem 0 0;
      &.no-margin {
        margin: 0;
      }
      .md-media-md {
        height: 35px;
        width: 35px;
        background-color: $brand-color-two;
        color: $brand-color-white;
        text-align: center;
        overflow: hidden;
        border-radius: 0.2rem;
        [class*=" icon-"],
        [class^=icon-] {
          font-size: 1.4rem;
          line-height: 35px;
        }
        &.color {
          background-color: $brand-color-three;
          //background-image: linear-gradient(20deg, $brand-color-two -20%, $brand-color-one 100%);
          color: $brand-color-white;
        }
        &.dark {
          background-color: $brand-color-dark;
          //background-image: linear-gradient(20deg, $brand-color-dark -20%, $brand-color-dark 100%);
          color: $brand-color-white;
        }
        &.transparent {
          background: transparent;
          &.green {
            color: green;
          }
          &.red {
            color: red;
          }
        }
      }
    }
    md-card-title-text {
      text-align: left;
      .md-headline {
        font-size: 1.1rem;
        line-height: 1;
        color: lighten($brand-color-dark, 5) !important;
      }
      .md-subhead {
        padding: 0 !important;
        font-family: $font-normal;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: normal;
        color: lighten($brand-color-dark, 40) !important;
      }
    }
  }
  .md-card-image {
    height: 200px;
    background-color: lighten($brand-color-dark, 50);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .md-card-share {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    .md-button {
      margin: 0;
      padding: 0.2rem;
      min-height: auto;
      min-width: auto;
      line-height: normal;
      border-radius: 0.2rem;
      box-shadow: none;
      [class*=" icon-"],
      [class^=icon-] {
        font-size: 2.2rem;
      }
    }
  }
  md-card-content {
    color: lighten($brand-color-dark, 20);
    p {
      padding: 0 0 0 0;
      font-size: 1rem;
      line-height: 1.2;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 0.9rem;
      li {
        padding: 0.1rem 0;
        [class*=" icon-"],
        [class^=icon-] {
          margin: 0 0.5rem 0 0;
          &.green {
            color: green;
          }
          &.red {
            color: red;
          }
        }
      }
    }
    .message {
      margin: 1rem 0 0 0;
      padding: 0.5rem 0.5rem;
      background-color: rgba($brand-color-three, 0.2);
      font-size: 0.9rem;
      line-height: normal;
      text-align: center;
      color: $brand-color-three;
      border-radius: 0.3rem;
    }
  }
  md-card-actions {
    .md-button {
      flex: 1;
      padding: 0;
      color: lighten($brand-color-dark, 20) !important;
      min-height: auto;
      border-radius: 0;
    }
  }
}