md-backdrop {
  background-color: rgba(0,0,0,0.9);
  &.md-dialog-backdrop {
    z-index: 200;
  }
}

md-dialog {
  background-color: $brand-color-white;
  border-radius: 0.3rem;
}

.md-dialog-container {
  z-index: 200;
  md-dialog {
    padding: 1rem;
    text-align: center;
    min-width: 80%;
    [class*=" icon-"],
    [class^=icon-] {
      position: relative;
      margin: 1rem 0;
      font-size: 8rem;
      color: $brand-color-one;
    }
    h2 {
      padding: 0;
      margin: 0 0 1rem 0;
      font-weight: normal;
      line-height: 1;
      color: lighten($brand-color-dark, 10);
    }
    p {
      padding: 0 1rem;
      margin: 0;
      font-family: $font-normal;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      color: lighten($brand-color-dark, 40);
    }
    .md-primary {
      margin: 2rem 0 0 0;
    }
    .md-link {
      margin: 1rem 0 0 0;
      opacity: 0.5;
    }
  }
}