.features {
  padding: 0 0 2rem 0;
  md-card {
    height: 120px;
    overflow: hidden;
    .md-card-image {
      background-color: $brand-color-dark;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
    }
    md-card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(0deg, $brand-color-three -20%, rgba($brand-color-one, 0) 100%);
      md-card-title-text {
        .md-headline {
          font-size: 1rem;
          color: $brand-color-white !important;
        }
        .md-subhead {
          font-size: .8rem;
          color: rgba($brand-color-white, 0.5) !important;
        }
      }
    }
  }
}