.filter {
  //margin: 0 -1.2rem 2rem -1.2rem !important;
  .swiper-slide {
    width: auto;
  }
  .md-outline {
    padding: 0 1rem;
    margin: 0;
    //min-width: 150px;
    min-height: auto;
    font-size: 0.8rem;
    color: rgba($brand-color-dark, 1);
    box-shadow: inset 0 0 0 1px rgba($brand-color-dark, 0.3);
    border-radius: 2rem;
  }
}