.header {
  //padding: $content-padding;
  margin: 0.5rem 0 2rem 0;
  [class*=" icon-"],
  [class^=icon-] {
    &.margin {
      margin: -0.3rem 1rem 0 0;
    }
    margin: -0.3rem 0 0 0;
    font-size: 1.5rem;
    vertical-align: middle;
  }
  h4 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lighten($brand-color-dark, 30);
  }
  &.white {
    opacity: 0.4;
    [class*=" icon-"],
    [class^=icon-],
    h4 {
      color: $brand-color-white;
    }
  }
}