.layout {
  background-color: transparent;
  md-content {
    background-color: $brand-color-bg;
    color: $brand-color-dark;
    overflow-x: hidden;
    overflow-y: scroll;
    &.transparent {
      background-color: transparent;
    }
    &.overflow-hidden {
      overflow: hidden;
    }
  }
}