.logo {
  margin: 1rem 0 1rem 0;
  width: 80px;
  height: 80px;
  background-image: url("../images/logo-dark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &.white {
    background-image: url("../images/logo-white.svg");
  }
  &.color {
    background-image: url("../images/logo-color.svg");
  }
  &.small {
    width: 40px;
    height: 40px;
    &.animate {
      @include slideInDown ( $duration: 0.5s, $delay: 0s, $count: 1, $function: easeIn, $fill: both);
    }
  }
  &.no-margin {
    margin: 0;
  }
  &.animate {
    //@include bounce ( $duration: 5s, $delay: 0.5s, $count: infinite, $function: easeIn, $fill: both);
  }
}