.map {
  height: 400px;
}
.map-icon {
  display: block;
  width: 50px;
  b {
    display: block;
    background-color: #fff;
    color: $brand-color-one;
    padding: 0.5rem;
    border-radius: 10rem;
    border: 1px #ddd solid;
    font-size: 35px;
    line-height: 1.8;
    height: 50px;
  }
  img {
    margin-top: 0.5rem;
    width: 60%;
  }
}