.mask {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(20deg, $brand-color-three -20%, rgba($brand-color-two, 0) 20%, rgba($brand-color-two, 0) 65%, $brand-color-one 100%);
  }
  &.rectangle {
    &::before {
      height: 300px;
      width: 70%;
      box-shadow: 0 0 0 9999px rgba($brand-color-two, 1);
      border-radius: 0.4rem;
      transform: translate(-50%, -50%);
    }
  }
  &.circle {
    &::before {
      width: 280px;
      height: 280px;
      box-shadow: 0 0 0 9999px rgba($brand-color-two, 1);
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
    .line {
      width: 55%;
      animation: scanningcircle 1.5s infinite ease-in-out;
    }
  }
  &.dark {
    &::before {
      box-shadow: 0 0 0 9999px lighten($brand-color-dark, 5);
    }
    &::after {
      background-image: linear-gradient(20deg, lighten($brand-color-dark, 20) 0%, rgba($brand-color-one, 0) 20%, rgba($brand-color-one, 0) 70%, lighten($brand-color-dark, 0) 90%);
    }
  }
  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 70%;
    background-color: red;
    transform: translate(-50%, -50%);
    animation: scanning 1.5s infinite ease-in-out;
  }
}

@keyframes scanning {
  0% {
    opacity: 1;
    transform: translate(-50%, -50px);
  }
  25% {
    opacity: 0.2;
    transform: translate(-50%, 0px);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 50px);
  }
  75% {
    opacity: 0.2;
    transform: translate(-50%, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50px);
  }
}

@keyframes scanningcircle {
  0% {
    width: 48%;
    opacity: 1;
    transform: translate(-50%, -50px);
  }
  25% {
    width: 54%;
    opacity: 0.2;
    transform: translate(-50%, 0px);
  }
  50% {
    width: 48%;
    opacity: 1;
    transform: translate(-50%, 50px);
  }
  75% {
    width: 54%;
    opacity: 0.2;
    transform: translate(-50%, 0px);
  }
  100% {
    width: 48%;
    opacity: 1;
    transform: translate(-50%, -50px);
  }
}