.no-data {
  text-align: center;
  &.small-icon {
    [class*=" icon-"],
    [class^=icon-] {
      font-size: 5rem;
    }
  }
  [class*=" icon-"],
  [class^=icon-] {
    font-size: 10rem;
    color: lighten($brand-color-dark, 60);
  }
  span {
    margin: 0;
    font-family: $font-normal;
    font-weight: bold;
    text-transform: uppercase;
    color: lighten($brand-color-dark, 50);
  }
}