.numbers {
  .layout-margin {
    &.no-margin {
      margin: 0;
      md-card {
        margin: 0 0.5rem 0 0;
        &:last-child {
          margin: 0 0 0 0.5rem;
        }
      }
    }
  }
  md-card {
    md-card-title {
      md-card-title-text {
        [class*=" icon-"],
        [class^=icon-] {
          margin: 0 0 1rem 0;
          font-size: 2rem;
          color: lighten($brand-color-dark, 20) !important;
        }
        .md-beforehead {
          font-size: 0.9rem;
          text-transform: uppercase; 
          color: lighten($brand-color-dark, 20) !important;
        }
        .md-headline {
          font-size: 2rem;
          line-height: 1; 
          color: $brand-color-one !important;
        }
      }
    }
  }
}