.options-wrapper {
  .options {
    margin: 0;
    &.dark {
      .item {
        background-color: rgba(darken($brand-color-dark, 10), 0.5);
      }
    }
    .item {
      background-color: rgba(darken($brand-color-one, 10), 0.5);
      padding: 2rem 0.5rem;
      [class*=" icon-"],
      [class^=icon-] {
        margin: 0 0 0.5rem 0;
        font-size: 4rem;
        color: rgba($brand-color-white, 1);
      }
      span {
        font-family: $font-normal;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba($brand-color-white, 1);
      }
    }
  }
}