.overlay {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  &.ng-enter {
    @include fadeIn ( $duration: 0.5s, $count: 1, $function: easeOut, $fill: both);
  }
  &.ng-leave {
    @include fadeOut ( $duration: 1s, $delay: 0.4s, $count: 1, $function: easeOut, $fill: both);
  }
}