.search {
  margin: 0.5rem 0 2rem 0 !important;
  padding: 0.2rem 0.5rem;
  background: rgba($brand-color-dark, 0.08);
  border-radius: 0.4rem;
  overflow: hidden;
  md-input-container {
    margin: 0;
    padding: 0;
    [class*=" icon-"],
    [class^=icon-] {
      margin: 0 0.5rem 0 0;
      font-size: 1.5rem;
      line-height: 40px;
      color: lighten($brand-color-dark, 20);
    }
    .md-input {
      padding: 0;
      height: 40px;
      font-size: 0.8rem;
      border: 0;
      &::-webkit-input-placeholder {
        font-family: $font-normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: lighten($brand-color-dark, 40);
      }
    }
    .md-errors-spacer {
      display: none;
    }
  }
}