section {
  position: relative;
  &.no-margin {
    margin: 0 !important;
  }
  .title {
    margin: 1rem 0 2rem 0;
    h4 {
      margin: 0;
      font-size: 0.8rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: lighten($brand-color-dark, 30);
    }
  }
}