.tab-bar {
  position: relative;
  z-index: 100;
  height: $tab-bar-height;
  background-color: $brand-color-white;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .02);
  button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: center;
    outline: 0;
    opacity: 0.3;
    &:not([disabled]) {
      &:hover {
        background-color: transparent;
      }
    }
    &.active {
      opacity: 1;
      [class*=" icon-"],
      [class^=icon-] {
        color: $brand-color-one;
      }
    }
    &.main {
      opacity: 1;
      >div {
        position: relative;
        //margin: -3rem 0 0 0;
        width: 32px;
        height: 32px;
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;
          border-radius: 0.3rem;
          background-color: rgba($brand-color-dark, 0.3);
        }
        [class*=" icon-"],
        [class^=icon-] {
          position: relative;
          font-size: 1.5rem;
          line-height: 32px;
          color: $brand-color-white;
        }
      }
    }
    >div {
      [class*=" icon-"],
      [class^=icon-] {
        font-size: 2rem;
      }
    }
  }
}