.timeline {
  padding: 0 1rem;
  .item {
    position: relative;
    padding: 0 0 4rem 0;
    &::before {
      content: '';
      position: absolute;
      top: 0rem;
      height: 100%;
      padding: 0 0.35rem 0 0;
      border-right: 2px lighten($brand-color-dark, 50) dashed;
    }
    &:last-child {
      padding: 0;
      &::before {
        display: none;
      }
    }
    .step {
      padding: 0 2rem 0 0;
      .marker {
        position: relative;
        height: 10px;
        width: 10px;
        background: $brand-color-bg;
        border: 2px lighten($brand-color-dark, 40) solid;
        border-radius: 50%;
      }
    }
    .content {
      border-radius: 0.3rem;
      span {
        font-size: 0.8rem;
        line-height: 1.2;
        color: lighten($brand-color-dark, 30);
        &.type {
          font-size: 0.9rem;
          line-height: 1.5;
          color: lighten($brand-color-dark, 0);
        }
      }
    }
  }
}