.welcome {
  md-card {
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px rgba($brand-color-two, 0.5);
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url('../images/logo-white.svg');
      background-position: right center;
      background-size: 120px;
      background-repeat: no-repeat;
      opacity: 0.05;
    }
    md-card-title {
      position: relative;
      md-card-title-text {
        .md-beforehead {
          font-family: $font-normal;
          font-size: 0.9rem;
          font-weight: bold;
          text-transform: uppercase;
          color: rgba($brand-color-white, 0.5) !important;
        }
        .md-headline {
          //font-family: $font-normal;
          font-size: 1.2rem;
          //font-weight: bold;
          line-height: 1;
          text-transform: uppercase;
          color: $brand-color-white !important;
        }
        .md-subhead {
          text-transform: uppercase;
          color: rgba($brand-color-white, 0.5) !important;
        }
      }
      md-card-title-media {
        .md-media-md {
          height: 60px;
          width: 60px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 100%;
          filter: grayscale(100%);
        }
        .md-media-settings {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 25px;
          height: 25px;
          background-color: $brand-color-dark;
          text-align: center;
          border-radius: 100%;
          [class*=" icon-"],
          [class^=icon-] {
            font-size: 1.2rem;
            line-height: 25px;
            color: $brand-color-white;
          }
        }
      }
    }
  }
}